*{
    font-family: Arial, Helvetica, sans-serif;
}

.table, td, tr {
    border: solid 1px;
}

.one{
    background-color: red;
}

.two{
    background-color: orange;
}

.three{
    background-color: yellow;
}

.four{
    background-color: green;
}
