<p>Tests Component</p>
<div class="container-fluid">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover" datatable>
                <thead>
                <tr>
                    <th>Relation</th>
                    <th>positive</th>
                    <th>negative</th>
                    <th>score</th>
                    <th>baseTitle</th>
                    <th>checkTitle</th>
                    <th>status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let test of data">
                    <td>{{ test.relation }}</td>
                    <td>{{ test.positive }}</td>
                    <td>{{ test.negative }}</td>
                    <td>{{ test.score }}</td>
                    <td>{{ test.baseTitle }}</td>
                    <td>{{ test.checkTitle }}</td>
                    <td *ngIf="test.status==1" class="one">{{ "Alta probabilidad"}}</td>
                    <td *ngIf="test.status==2" class="two">{{ "Bastante probabilidad"}}</td>
                    <td *ngIf="test.status==3" class="three">{{ "Alguna probabilidad"}}</td>
                    <td *ngIf="test.status==4" class="four">{{ "Poca probabilidad"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
